<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD5DSwFUGUZAICZx4wSMYyo_cVNW_mgHNI</string>
	<key>GCM_SENDER_ID</key>
	<string>297831414737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.koalaDiving</string>
	<key>PROJECT_ID</key>
	<string>koala-diving-2fd95</string>
	<key>STORAGE_BUCKET</key>
	<string>koala-diving-2fd95.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297831414737:ios:d5aab9baf9d62246ee7ef0</string>
</dict>
</plist>